.github
examples/*
api/README
api/README.md
api/out
assets/README
bin/*
build/*
!build/*.pgo
tmp/*
web/README
web/README.md
.vscode/*
.editorconfig
.gitattributes
.gitignore
.dockerignore
.env
.gitignore
.golangci.yml
.git
.mirrord
.task
.vscode
LICENSE
CONTRIBUTING.md
README.md
Taskfile.yml
